In [1]:
import tensorflow as tf 
from tensorflow import keras
from tensorflow.keras import layers
import seaborn as sns
import pandas as pd
import numpy as np

In [2]:
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv('test_1.csv') #read the csv data

In [4]:
df.head()

      A      B   C  D      E      F      G
0  21.6  292.0  65  3  22.19  24.51  29.06
1  36.0  122.4  65  3   9.31  10.29  12.20
2  36.0  187.2  65  3  14.24  15.73  18.65
3  36.0  252.0  65  3  19.18  21.18  25.11
4  36.0  374.4  65  3  37.31  31.46  37.31

In [5]:
df.dtypes

A    float64
B    float64
C      int64
D      int64
E    float64
F    float64
G    float64
dtype: object

In [6]:
# df['C'].astype(float)
df['C'] = df['C'].astype(float)
print(df.dtypes)

A    float64
B    float64
C    float64
D      int64
E    float64
F    float64
G    float64
dtype: object

In [7]:
df['D'] = df['D'].astype(float)
print(df.dtypes)

A    float64
B    float64
C    float64
D    float64
E    float64
F    float64
G    float64
dtype: object

In [8]:
df['G'] = df['G'].astype(int)
print(df.dtypes)

A    float64
B    float64
C    float64
D    float64
E    float64
F    float64
G      int32
dtype: object

In [9]:
df['E'] = df['E'].astype(int)
print(df.dtypes)

A    float64
B    float64
C    float64
D    float64
E      int32
F    float64
G      int32
dtype: object

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       300 non-null    float64
 1   B       300 non-null    float64
 2   C       300 non-null    float64
 3   D       300 non-null    float64
 4   E       300 non-null    int32
 5   F       300 non-null    float64
 6   G       300 non-null    int32
dtypes: float64(5), int32(2)
memory usage: 14.2 KB

In [11]:
df.tail()

        A      B     C      D   E      F   G
295  48.0  624.0  65.0  450.0  34  37.73  44
296  48.0  652.8  65.0  450.0  35  39.47  46
297  48.0  672.0  65.0  450.0  36  40.64  48
298  48.0  672.0  65.0  450.0  36  40.64  48
299  48.0  672.0  65.0  450.0  36  40.64  48

In [12]:
df.head()

      A      B     C    D   E      F   G
0  21.6  292.0  65.0  3.0  22  24.51  29
1  36.0  122.4  65.0  3.0   9  10.29  12
2  36.0  187.2  65.0  3.0  14  15.73  18
3  36.0  252.0  65.0  3.0  19  21.18  25
4  36.0  374.4  65.0  3.0  37  31.46  37

In [13]:
df.size

2100

In [14]:
df.count

<bound method DataFrame.count of         A      B     C      D   E      F   G
0    21.6  292.0  65.0    3.0  22  24.51  29
1    36.0  122.4  65.0    3.0   9  10.29  12
2    36.0  187.2  65.0    3.0  14  15.73  18
3    36.0  252.0  65.0    3.0  19  21.18  25
4    36.0  374.4  65.0    3.0  37  31.46  37
..    ...    ...   ...    ...  ..    ...  ..
295  48.0  624.0  65.0  450.0  34  37.73  44
296  48.0  652.8  65.0  450.0  35  39.47  46
297  48.0  672.0  65.0  450.0  36  40.64  48
298  48.0  672.0  65.0  450.0  36  40.64  48
299  48.0  672.0  65.0  450.0  36  40.64  48

[300 rows x 7 columns]>

In [15]:
df['G'].value_counts()

48    20
36    15
56    12
40    11
50    10
60    10
42     9
18     9
66     9
13     8
26     7
37     7
15     7
49     6
45     6
8      6
70     6
52     6
55     6
46     6
44     6
30     6
34     6
83     6
62     6
21     6
39     5
35     5
25     5
33     4
32     4
43     4
72     3
20     3
29     3
47     3
27     3
84     3
31     3
65     3
67     3
99     3
12     3
10     3
24     3
9      2
28     2
19     2
22     2
6      2
11     2
7      2
17     2
71     2
59     2
51     2
Name: G, dtype: int64

In [16]:
df.columns

Index(['A', 'B', 'C', 'D', 'E', 'F', 'G'], dtype='object')

In [17]:
feature_df=df[['A', 'B', 'C', 'D']]

In [18]:
X=np.asarray(feature_df)

In [19]:
y=np.asarray(df['G'])

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=4)

In [22]:
X_train.shape

(240, 4)

In [23]:
y_train.shape

(240,)

In [24]:
X_test.shape

(60, 4)

In [25]:
y_test.shape

(60,)

In [26]:
from sklearn import svm

In [27]:
from sklearn.svm import SVC

In [28]:
clsf=svm.SVC(kernel='linear',gamma='auto')

In [29]:
clsf.fit(X_train,y_train)

SVC(gamma='auto', kernel='linear')

In [30]:
y_predict=clsf.predict(X_test)

In [31]:
from sklearn.metrics import classification_report

In [32]:
print(classification_report(y_test,y_predict))

              precision    recall  f1-score   support

           7       1.00      1.00      1.00         1
           8       1.00      1.00      1.00         2
           9       0.00      0.00      0.00         0
          11       0.00      0.00      0.00         1
          12       1.00      1.00      1.00         1
          13       1.00      0.50      0.67         2
          17       1.00      1.00      1.00         1
          18       1.00      1.00      1.00         1
          21       1.00      1.00      1.00         1
          24       1.00      1.00      1.00         1
          26       1.00      1.00      1.00         1
          27       1.00      1.00      1.00         1
          31       1.00      1.00      1.00         2
          32       1.00      1.00      1.00         1
          33       1.00      1.00      1.00         1
          35       0.00      0.00      0.00         0
          36       1.00      0.75      0.86         4
          37       1.00      1.00      1.00         2
          39       1.00      1.00      1.00         2
          40       1.00      1.00      1.00         4
          42       1.00      1.00      1.00         1
          43       1.00      1.00      1.00         1
          44       1.00      1.00      1.00         3
          46       1.00      1.00      1.00         2
          48       1.00      1.00      1.00         4
          49       1.00      1.00      1.00         3
          50       1.00      1.00      1.00         1
          51       1.00      1.00      1.00         1
          52       1.00      1.00      1.00         1
          56       1.00      1.00      1.00         2
          62       1.00      1.00      1.00         2
          65       1.00      1.00      1.00         2
          66       1.00      1.00      1.00         5
          70       1.00      1.00      1.00         1
          72       1.00      1.00      1.00         1
          99       1.00      1.00      1.00         1

    accuracy                           0.95        60
   macro avg       0.92      0.90      0.90        60
weighted avg       0.98      0.95      0.96        60

C:\Users\Nexgits\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Nexgits\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Nexgits\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [33]:
feature_df=df[['A', 'B', 'C', 'D']]
X=np.asarray(feature_df)
y=np.asarray(df['E'])
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=4)

In [34]:
clsf2=svm.SVC(kernel='linear',gamma='auto')
clsf.fit(X_train,y_train)
y_predict=clsf.predict(X_test)

In [35]:
print(classification_report(y_test,y_predict))

              precision    recall  f1-score   support

           5       1.00      1.00      1.00         1
           6       1.00      1.00      1.00         1
           7       1.00      1.00      1.00         1
           8       1.00      1.00      1.00         1
           9       1.00      1.00      1.00         1
          10       1.00      1.00      1.00         2
          13       1.00      1.00      1.00         1
          14       1.00      1.00      1.00         1
          17       1.00      1.00      1.00         1
          19       1.00      1.00      1.00         1
          21       1.00      1.00      1.00         1
          22       1.00      1.00      1.00         1
          25       1.00      1.00      1.00         2
          26       1.00      1.00      1.00         1
          27       1.00      0.67      0.80         3
          28       0.00      0.00      0.00         0
          29       1.00      1.00      1.00         2
          30       1.00      1.00      1.00         3
          31       0.00      0.00      0.00         0
          32       1.00      1.00      1.00         4
          33       1.00      1.00      1.00         1
          34       1.00      1.00      1.00         3
          35       1.00      0.33      0.50         3
          36       0.75      1.00      0.86         3
          37       1.00      1.00      1.00         3
          38       1.00      1.00      1.00         1
          39       1.00      1.00      1.00         1
          40       1.00      1.00      1.00         1
          41       1.00      1.00      1.00         1
          42       1.00      1.00      1.00         1
          44       1.00      1.00      1.00         2
          47       1.00      1.00      1.00         2
          49       1.00      1.00      1.00         2
          51       1.00      1.00      1.00         5
          56       1.00      1.00      1.00         1
          59       1.00      1.00      1.00         1
          75       1.00      1.00      1.00         1

    accuracy                           0.95        60
   macro avg       0.94      0.92      0.92        60
weighted avg       0.99      0.95      0.96        60

C:\Users\Nexgits\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Nexgits\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Nexgits\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))